html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.img-flex {
  display: block;
  width: 100%;
  padding-top: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  text-align: left;
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: inline;
  text-align: left;
  line-height: 1.4;
  position: relative;
  left: 5px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: italic;
  text-align: left;
  margin-top: 8px;
  position: relative;
  top: 12px;
}

.banner-content {
  padding: 0 1rem;
  max-width: 50em;
  overflow: hidden;
  width: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 15px;
}
